{% extends "base.html" %}

{% block title %}Resultados de Análisis de Correo{% endblock %}

{% block contenido %}

  <h1 class="uk-heading-primary uk-text-center"><span>Procesamiento de Correo</span></h1>
  
  {% if error %}
    <div class="uk-alert-danger" uk-alert>
      <!-- <a class="uk-alert-close" uk-close></a> -->
      <p>El texto ingresado no corresponde a un correo o el archivo esta corrupto.</p>
    </div>
    {% else %}
      <ul uk-tab>
        <li class="uk-active">
          <a href="#">Cabeceras</a>
        </li>
        <li>
          <a href="#">Raw</a>
        </li>
        <li>
          <a href="#">Reporte de URLs</a>
        </li>
      </ul>

      
      <ul class="uk-switcher uk-margin">
        <li>
          <table class="uk-table uk-table-divider">
            <thead>
              <tr>
                <th class="uk-width-medium">Campo</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for k,v in resultados.items %}
                <tr>
                  <td class="uk-text-bold">{{ k }}</td>
                  <td>{{ v }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </li>
        
        <li>
          <pre>{{ headers }}</pre>
        </li>

        <li>{% include 'reporte_urls.html' %}</li>
      </ul>
      
      <h3>URLs analizadas</h3>
      <ul class="uk-list">
        {% for r in urls %}
          <li>{{ r }}</li>
        {% empty %}
          <div class="uk-alert-warning" uk-alert>
            <p>No se encontró ninguna dirección URL.</p>
          </div>
        {% endfor %}
      </ul>
      {% if user.is_authenticated %}
        <a href="{% url 'monitoreo' %}" class="uk-button uk-button-primary">Ir a monitoreo</a>
      {% endif %}
    {% endif %}
    <a href="{% url 'procesa-correo' %}" class="uk-button uk-button-primary">Analizar otro correo</a>
  </div>
{% endblock %}
