{% extends "base.html" %}

{% block title %}Detalle de URL{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary">Detalle de URL</h1>

  <ul uk-tab>
    <li class="uk-active"><a href="#">Datos</a></li>
    <li><a href="#">Hashes</a></li>
    <li><a href="#">Historial</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
    <li>
      {% include 'reporte_url.html' %}
      <h4>Captura de dominio</h4>
      <div uk-lightbox>
        <a href='{{ url.dominio.captura_url }}'>
          <img src='{{ url.dominio.captura_url }}' class="uk-comment-avatar" style="object-fit: cover;width: 80px;height: 80px;"/>
        </a>
      </div>
    </li>
    <li>
      {% for x in hashes %}
        {{ x }}
      {% endfor %}
    </li>
    <li>
      <ul class="uk-list">
        {% for sitio in url.sitios.all %}
          <li>
            {% include 'reporte_sitio.html' with historial=True %}
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>  
{% endblock %}
