{% extends "base.html" %}

{% block title %}Verifica URLs{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary uk-text-center"><span>Verifica URLs</span></h1>
  
  {% include 'verifica_urls/descripcion_verifica_urls.html' %}
  
  <form action="" method="post">
    {% csrf_token %}
    {% include 'form.html' with form=form1 %}
    <input type="submit" class="uk-button uk-button-primary" value="Aceptar" name="boton_urls" />
  </form>
  
  <form class="uk-form-horizontal uk-margin-medium" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'form.html' with form=form2 %}
    <input type="submit" class="uk-button uk-button-primary" value="Aceptar" name="boton_archivo" />
  </form>

{% endblock %}
