{% extends 'base.html' %}
{% block title %}Reporte{% endblock %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href='{% static "css/jquery-ui.min.css" %}' />
  <link rel="stylesheet" href='{% static "css/jquery-ui.structure.min.css" %}' />
  <link rel="stylesheet" href='{% static "css/jquery-ui.theme.min.css" %}' />
  <link rel="stylesheet" href='{% static "css/jquery-ui-timepicker-addon.css" %}' />
  <script src='{% static "js/jquery-ui.min.js" %}'></script>  
  <script src='{% static "js/jquery-ui-timepicker-addon.js" %}'></script>  
{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary uk-text-center"><span>Generación de Reporte</span></h1>

  <div class="uk-container uk-container-xsmall">
    <form id='formulario' method='POST' action="{% url 'doc' %}" class="uk-form-stacked">
      {% csrf_token %}
      {% include 'reporte/form.html' with form=form %}<br/>
      <input type="submit" class="uk-button uk-button-primary" name="enviar" value="Enviar">
    </form>
  </div>
  
  {% if env %}
    <div class="uk-alert-success" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>Se creó el archivo {{ nom }}</p>
    </div>
  {% endif %}

  <script type="text/javascript">
    $('.datetimepicker').datetimepicker({
      dateFormat: 'yy-mm-dd'
    });
  </script>
{% endblock %}
