<!-- Plantilla HTMML -->
<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "css/uikit.min.css" %}' />
    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/uikit.min.js" %}'></script>
    <script src='{% static "js/uikit-icons.min.js" %}'></script>
    <title>{% block title %} {% endblock title %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    <nav class="uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">SAAPM</a>
        <ul class="uk-navbar-nav">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'monitoreo' %}">Monitoreo</a>
            </li>
          {% endif %}
          <li>
            <a href="{% url 'valida-urls' %}">Valida URLs</a>
          </li>
          <li>
            <a href="{% url 'entrada' %}">Procesa Correo</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'historico' %}">Histórico</a>
            </li>            
            <li>
              <a href="{% url 'doc' %}">Reporte</a>
            </li>
            <li>
              <a href="{% url 'ajustes' %}">Ajustes</a>
            </li>          
            <li>
              <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>          
          {% else %}
            <li>
              <a href="{% url 'login' %}">Iniciar Sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% if user.is_authenticated %}
        <div class="uk-navbar-item uk-navbar-right">
          <form method="get" action="/buscar/">
            <input name="q" class="uk-input uk-form-width-small" type="q" placeholder="Búsqueda" aria-label="Search">
            <button class="uk-button uk-button-default" type="submit">
              <span uk-icon="icon: search"></span>
            </button>
          </form>
        </div>
      {% endif %}     
    </nav>
    <!-- Termina Navbar -->
    
    <div class="uk-container" uk-height-viewport="expand: true">
    {% block contenido %}
    {% endblock %}
    </div>

    <footer style="background-color:#333333;height:40px;padding:40px;margin-top:50px;">
        <center>
          <p><a href="https://www.seguridad.unam.mx/">UNAM-CERT</a>, 2018.</p>
        </center>
    </footer>
  </body>
</html>
