<!-- Plantilla HTMML -->
<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "css/uikit.min.css" %}' />
    <link rel="stylesheet" href='{% static "css/estilo.css" %}' />
    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/uikit.min.js" %}'></script>
    <script src='{% static "js/uikit-icons.min.js" %}'></script>
    <title>{% block title %} {% endblock title %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>

    <nav class="nav-desktop uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <!-- <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">SAAPM</a> -->
        <a href="{% url 'home' %}">
          <img class="logo" src="{% static 'logo.png' %}" alt="Logo UNAM-CERT" />
        </a>
        <ul class="uk-navbar-nav">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'monitoreo' %}">Monitoreo</a>
            </li>
          {% endif %}
          <li>
            <a href="{% url 'valida-urls' %}">Valida URLs</a>
          </li>
          <li>
            <a href="{% url 'procesa-correo' %}">Procesa Correo</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'historico' %}">Histórico</a>
            </li>            
            <li>
              <a href="{% url 'reporte' %}">Reporte</a>
            </li>
            <li>
              <a href="{% url 'ajustes' %}">Ajustes</a>
            </li>          
            <li>
              <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>         
          {% endif %}
        </ul>
      </div>
      {% if user.is_authenticated %}
        <div class="uk-navbar-item uk-navbar-right">
          <form method="get" action="/buscar/">
            <input name="q" class="uk-input uk-form-width-small" type="q" placeholder="Búsqueda" aria-label="Search">
            <button class="uk-button uk-button-default" type="submit">
              <span uk-icon="icon: search"></span>
            </button>
          </form>
        </div>
      {% endif %}     
    </nav>

    <nav class="nav-movil uk-navbar-container uk-margin" uk-navbar>
      <div class="uk-navbar-left uk-navbar-item">
        <button class=" uk-button-small uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary"><span uk-icon="menu"></span></button>
      </div>
      <div class="uk-navbar-item uk-navbar-right">
        <form method="get" action="/buscar/">
          <input name="q" class="uk-input uk-form-width-small" type="q" placeholder="Búsqueda" aria-label="Search">
          <button class="uk-button uk-button-default" type="submit">
            <span uk-icon="icon: search"></span>
          </button>
        </form>
        <a class="nav-mini uk-navbar-item uk-logo uk-navbar-right" href="{% url 'home' %}">
          <img class="logo" src="{% static 'logo.png' %}" alt="Logo UNAM-CERT" />
        </a>
      </div>
    </nav>
    
    <div class="nav-movil" id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
          <li>
            <a href="{% url 'home' %}"><span uk-icon="home"></span> Inicio</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'monitoreo' %}"><span uk-icon="desktop"></span> Monitoreo</a>
            </li>
          {% endif %}
          <li>
            <a href="{% url 'valida-urls' %}"><span uk-icon="world"></span> Valida URLs</a>
          </li>
          <li>
            <a href="{% url 'procesa-correo' %}"><span uk-icon="mail"></span> Procesa Correo</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'historico' %}"><span uk-icon="calendar"></span> Histórico</a>
            </li>            
            <li>
              <a href="{% url 'reporte' %}"><span uk-icon="file-text"></span> Reporte</a>
            </li>
            <li>
              <a href="{% url 'ajustes' %}"><span uk-icon="settings"></span> Ajustes</a>
            </li>
            <li>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
              <a href="{% url 'logout' %}"><span uk-icon="sign-out"></span> Cerrar Sesión</a>
            </li>         
          {% endif %}
        </ul>
      </div>
    </div>
    
    <!-- Termina Navbar -->
    
    <div class="uk-container" uk-height-viewport="expand: true">
    {% block contenido %}
    {% endblock %}
    </div>

    <footer style="background-color:#333333;height:40px;padding:40px;margin-top:50px;">
        <center>
          <p><a href="https://www.seguridad.unam.mx/">UNAM-CERT</a>, 2018.</p>
        </center>
    </footer>
  </body>
</html>
