{% extends 'base.html' %}

{% block title %} Phishmon Dashboard{% endblock title %}

{% load staticfiles %}
{% block contenido %}

	<center>
	  <div class="container" style="padding-top: 20px">
	    <b>Dashboard</b>
	  </div>
	</center>        
        
	<script type="text/javascript" src="{{ STATIC_URL }} /static/jQuery.js">
	</script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	
	<img id="gr1" />
	<script src="{% static 'js/chart.js' %}"></script>

        <a id="descarga-top5-paises" download="top5-paises.png">Descargar gráfica</a>
	<div class="container">
	  <div class="row">
	    <div class="col">
	      <canvas id="top5-paises" width="500px" height="500px"></canvas>
	    </div>

	    <div class="col">
	      <canvas id="top5-hosting" width="500px" height="500px"></canvas>
	    </div>
	  </div>
          
	  <!--div class="row">
	    <div class="col">
	      <br>
	      <br>
	    </div>
	    <div class="col">
	      <br>
	      <br>
	    </div>
	  </div-->
          
	  <div class="row  justify-content-center">
	    <div class="col-4">
	      <canvas id="phishing-sites" width="500px" height="500px"></canvas>
	    </div>
	    <div class="col-4 ">
	      <canvas id="report-week" width="500px" height="500px"></canvas>
      	    </div>
      	    <div class="col-4">
	      <canvas id="sites-active" width="500px" height="500px"></canvas>
      	    </div>
  	  </div>
          
  	  <!--div class="row">
	    <div class="col">
	      <br>
	      <br>
	    </div>
	    <div class="col">
	      <br>
	      <br>
	    </div>
	  </div-->
  	  <div class="row justify-content-center">
	    <div class="col-4">
	      <canvas id="sectores" width="300px" height="300px"></canvas>
	    </div>
            <div class="col-4">
	      <canvas id="detecciones" width="300px" height="300px"></canvas>
	    </div>
            <div class="col-4">
	      <canvas id="entidades" width="300px" height="300px"></canvas>
	    </div>
  	  </div>
  	 </div>
	
	{% block content %}
		<div>


		</div>
	{% endblock content %}
 {% endblock %}

