{% extends 'base.html' %}

{% block title %}Sistema de Análisis Automatizado de Phishing y Sitios Maliciosos{% endblock title %}

{% load staticfiles %}

{% block head %}
  <script src="{% static 'js/chart.min.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
{% endblock %}

{% block contenido %}

  <h1 class="uk-text-center"><span>Sistema de Análisis Automatizado de Phishing y Sitios Maliciosos</span></h1>

  <div class="uk-child-width-1-1@s uk-child-width-1-3@m" uk-grid>
    <div class="grafica">
      <canvas id="top5-paises"></canvas>
    </div> 
    <div class="grafica">
      <canvas id="top5-hosting"></canvas>
    </div>
    <div class="grafica">
      <canvas id="sitios-phishing"></canvas>
    </div>
  </div>
  
  <div class="uk-auto">
    <div class="grafica">
      <canvas id="top5-sitios"></canvas>
    </div>
  </div>
  
  <div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
    <div class="grafica">
      <canvas id="entidades"></canvas>
    </div>
    <div class="grafica">
      <canvas id="sectores"></canvas>
    </div>
  </div>
  
  <div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
    <div class="grafica no-margen">
      <canvas id="detecciones"></canvas>
    </div>
    <div class="grafica no-margen">
      <canvas id="tiempo-reporte"></canvas>
    </div>
  </div>

{% endblock %}

