<article class="uk-comment uk-comment-primary uk-visible-toggle">            
  <header class="uk-comment-header uk-position-relative">
    <div class="uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <div uk-lightbox>
          <a href='{{ dominio.captura_url }}'>
            <img src='{{ dominio.captura_url }}' class="uk-comment-avatar" style="object-fit: cover;width: 80px;height: 80px;"/>
          </a>
        </div>
      </div>
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove">
          <a class="uk-link-reset" href='{% url 'dominio' pk=dominio.pk %}'>{{ dominio }}</a>
        </h4>
        <p class="uk-comment-meta uk-margin-remove-top">
          IP: {{ dominio.ip }}
        </p>
      </div>
    </div>

    {% if reportar %}
      <div class="uk-position-top-right uk-position-small">
        <a href='{% url 'monitoreo-id' dominio.pk %}' class="uk-button uk-button-primary">
          Reportar dominio
        </a>
      </div>
    {% endif %}
    
  </header>            
  <div class="uk-comment-body">
    <p>
      País: {{ dominio.pais_str }} <br/>
      RIR: {{ dominio.rir_str }} <br/>
      Servidores DNS: {{ dominio.dns_str }} <br/>
      ISP: {{ dominio.isp_str }} <br/>
      ASN: {% if dominio.asn %}<a href='{% url "asn" dominio.asn.pk %}'>{% endif %}{{ dominio.asn_str }}{% if dominio.asn %}</a>{% endif %} <br/>
      Servidor: {{ dominio.servidor_str }} <br/>
      Correos de abuso: {{ dominio.correos_str }}
    </p>
  </div>
</article>
