{% extends "base.html" %}

{% block title %}Phish-Mon Entidades{% endblock %}

{% block contenido %}
  <div class="uk-container uk-container-medium">
    <h1 class="uk-heading-divider">Entidades</h1>
  </div>
  <a class='btn btn-primary' href='{% url 'crea-entidad' %}'>Nueva Entidad</a>
  <br/>
  {% for o in entidades %}
    <br/>
    <h4>Nombre: {{ o.nombre }}</h4>
    Clasificación: {{ o.clasificacion }}<br/>
    Formularios de abuso: <br/>
    {% for f in o.formularios_lst %}
      <a href='{{ f }}'>{{ f }}</a><br/>
    {% empty %}
      No asignados<br/>
    {% endfor %}
    <a class='btn btn-sm btn-warning' href='{% url "actualiza-entidad" pk=o.pk %}'>Actualiza</a>
    <a class='btn btn-sm btn-danger' href='{% url "elimina-entidad" pk=o.pk %}'>Elimina</a>
    <br/>
  {% endfor %}
  
  <br/>
  <h1>Clasificaciones</h1>
  <a class='btn btn-primary' href='{% url 'crea-clasificacion' %}'>Nueva Clasificación</a>
  <br/>
  {% for o in clasificaciones %}
    </br>
    <h4>Nombre: {{ o.nombre }}</h4>
    <a class='btn btn-sm btn-warning' href='{% url "actualiza-clasificacion" pk=o.pk %}'>Actualiza</a>
    <a class='btn btn-sm btn-danger' href='{% url "elimina-clasificacion" pk=o.pk %}'>Elimina</a>
    <br/>
  {% endfor %}

{% endblock %}
