{% extends "base.html" %}

{% block title %}Phish-Mon Correo{% endblock %}

{% block contenido %}
  <div class="container">
    <h1 class="display-3">Procesamiento de Correo</h1>

    {% if error %}
      El texto ingresado no corresponde a un correo o el archivo esta corrupto</br>
    {% else %}
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="cabeceras-tab" data-toggle="tab" href="#cabeceras" role="tab" aria-controls="home" aria-selected="true">Cabeceras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="raw-tab" data-toggle="tab" href="#raw" role="tab" aria-controls="profile" aria-selected="false">Raw</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="cabeceras" role="tabpanel" aria-labelledby="cabeceras-tab">        
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Campo</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for k,v in resultados.items %}
                <tr>
                  <th scope="row">{{ k }}</th>
                  <td>{{ v }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="raw" role="tabpanel" aria-labelledby="raw-tab">
          <pre>{{ headers }}</pre>
        </div>
      </div>
      <h3>URLs analizadas</h3>
      {% for r in urls %}
        {{ r }}</br>
      {% empty %}
        No se encontró ninguna dirección URL</br>
      {% endfor %}      
      <a href="{% url 'monitoreo' %}" class="btn btn-primary">Ir a monitoreo</a>
    {% endif %}
    <a href="{% url 'entrada' %}" class="btn btn-primary">Analizar otro correo</a>
  </div>
{% endblock %}
