{% extends "base.html" %}

{% block title %}Phish-Mon Correo{% endblock %}

{% block contenido %}
  <div class="container">
    <h1 class="display-3">Procesamiento de Correo</h1>
    {% for r in resultados %}
      {{ r }}</br>
    {% endfor %}
    <h3>URLs analizadas</h3>
    {% for r in urls %}
      {{ r }}</br>
    {% endfor %}
    <a href="{% url 'monitoreo' %}" class="btn btn-primary">Ir a monitoreo</a>
    <a href="{% url 'entrada' %}" class="btn btn-primary">Analizar otro correo</a>
  </div>
{% endblock %}
