{% load filtros %}

{% if form.non_field_errors %}
<div class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>{{ form.non_field_errors }}</p>
</div>
{% endif %}

{% if activo %}
  <label for="urls"><h3>Selecciona las direcciones URL a reportar/ignorar</h3></label>
{% else %}
  <label for="urls"><h3>URLs desactivadas</h3></label>
{% endif %}

{% for field in form %}
  {% if field.name == 'urls' and field.errors %}
    {% for error in field.errors %}
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ error|escape }}</p>
      </div>
    {% endfor %}
  {% endif %}
{% endfor %}
  
<ul class="uk-comment-list" id="id_urls">
  {% for url in form.fields.urls.queryset %}
    <li>
      {% include 'url_info.html' %}
    </li>
  {% endfor %}
</ul>

{% if activo %}
  {% for field in form %}
    {% if not field.name == 'urls' %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ error|escape }}</p>
          </div>
        {% endfor %}
      {% endif %}
  {% if field|fieldtype == 'Textarea' or field|fieldtype == 'TextInput' or field|fieldtype == 'ClearableFileInput' %}
    <div class="uk-margin">
  {% else %}
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
  {% endif %}
    <label class="uk-form-label" for="{{ field.name }}">{{ field.label }}</label>
    <div class="uk-form-controls">
      {% if field.errors %}
        {{ field|addclass:'uk-input uk-form-danger' }}
      {% else %}
        {% if field|fieldtype == 'Textarea' %}
          {{ field|addclass:'uk-textarea' }}
        {% elif field|fieldtype == 'ClearableFileInput' or field|fieldtype == 'TextInput' or field|fieldtype == 'URLInput' %}
          {{ field|addclass:'uk-input' }}
        {% elif field|fieldtype == 'CheckboxInput' %}
          {{ field|addclass:'uk-checkbox' }}
        {% elif field|fieldtype == 'NumberInput' %}
          {{ field|addclass:'uk-range' }}
        {% elif field|fieldtype == 'Select' %}
          {{ field|addclass:'uk-select uk-form-width-medium' }}
        {% else %}
          {{ field }}
        {% endif %}
      {% endif %}      
    </div>
    </div>
{% endif %}
{% endfor %}
{% endif %}
