{% extends 'base.html' %}
{% block title %}Reporte{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary uk-text-center"><span>Generación de Reporte</span></h1>
  <form id='formulario' method='POST' action="{% url 'creadoc' %}" class="uk-form-horizontal">
    {% csrf_token %}
    {% include 'form.html' with form=form %}<br/>
    <input type="submit" class="uk-button uk-button-primary" name="enviar" value="Enviar">
  </form>
  {% if env %}		
    <p>Se creó el archivo {{ nom }} </p>
  {% endif %}
{% endblock %}
