{% extends "base.html" %}

{% block title %}Phish-Mon Monitoreo{% endblock %}

{% block contenido %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Monitoreo</h1>
    </div>
  </div>
  <div class="container">
    {% for dominio in dominios %}
      <h2>{{ dominio }}</h2>
      IP: {{ dominio.ip }} <br/>
      País: {{ dominio.pais }} <br/>
      RIR: {{ dominio.rir }} <br/>
      Servidores DNS: {{ dominio.servidores_dns }} <br/>
      ISP: {{ dominio.isp }} <br/>
      ASN: {{ dominio.asn }} <br/>
      Servidor: {{ dominio.servidor }} <br/>
      {% for url in dominio.urls_activas %}
        <div class="card flex-row flex-wrap">
          <div class="card-header border-0">
            <img src='{{ url.captura_url }}' class="img-thumbnail" style="object-fit: cover;width: 100px;height: 100px;"/>
          </div>
          <div class="card-block px-2">
            <h4 class="card-title">{{ url }}</h4>
            <p class="card-text">
              Timestamp: {{ url.timestamp }} <br/>
              Código: {{ url.codigo }} <br/>
              Título: {{ url.titulo }} <br/>
            </p>
          </div>
          <div class="w-100"></div>
        </div>
      {% endfor %}
      <a href='{% url 'monitoreo-id' dominio.pk %}' class="btn btn-primary">Reportar dominio</a>
    {% empty %}
      <h4>No hay ninguna URL por mostrar</h4>        
    {% endfor %}
  </div>
  
{% endblock %}
