{% extends "base.html" %}

{% block title %}Monitoreo{% endblock %}

{% block contenido %}

  <article class="uk-article">

    <h1 class="uk-article-title">Correo enviado exitósamente</h1>

    <div class="uk-h2">Resumen de correo</div>
    <p>
      <table class="uk-table uk-table-divider">
        <thead style='display:none;'>
          <tr>
            <th class="uk-width-small">Campo</th>
            <th class="uk-width-large">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='uk-text-bold'>Dominio</td>
            <td>{{ dominio }}</td>
          </tr>
          <tr>
            <td class='uk-text-bold'>Direcciones URL reportadas</td>
            <td>
              {{ urls }}
            </td>
          </tr>
          <tr>
            <td class='uk-text-bold'>De</td>
            <td>{{ de }}</td>
          </tr>
          <tr>
            <td class='uk-text-bold'>Para</td>
            <td>{{ para }}</td>
          </tr>
          <tr>
            <td class='uk-text-bold'>CC</td>
            <td>{{ cc }}</td>
          </tr>
          <tr>
            <td class='uk-text-bold'>CCO</td>
            <td>{{ cco }}</td>
          </tr>
          <tr>
            <td class='uk-text-bold'>Asunto</td>
            <td>{{ asunto }}</td>
          </tr>
        </tbody>
      </table>
    </p>

    <p>
      <div class="uk-h3">Mensaje</div>
      <pre>{{ mensaje }}</pre>
    </p>

    <p>
      <div class="uk-h3">Imágenes adjuntas</div>
      {% if capturas %}
        <div class="uk-child-width-1-6@m" uk-grid uk-lightbox="animation: slide">
          {% for x in capturas %}          
            <div>
              <a class="uk-inline" href="{{ x.captura_url }}">
                <img src="{{ x.captura_url }}" style="object-fit: cover;width: 100px;height: 100px;">
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="uk-alert-warning" uk-alert>
          <p>No hay archivos adjuntos</p>
        </div>
      {% endif %}
    </p>
  </article>

  
  <a href="{% url 'monitoreo' %}" class="uk-button uk-button-primary">Regresar a monitoreo<a/>
{% endblock %}
