{% extends "base.html" %}

{% block title %}Phish-Mon Monitoreo{% endblock %}

{% block contenido %}

  <div class="container">
    
    <h1 class="display-3">Monitoreo</h1>

    <form action="" method="post"> 
      <h1 class="uk-heading-divider">Valida URLs</h1>  
      {% csrf_token %}
      {% include 'form.html' with form=proxy_form %}
      <input type="submit" name="boton-curl" class="uk-button uk-button-default" value="Aceptar" />
    </form>

    <h2>Datos de dominio {{ dominio }}</h2>
    País: {{ dominio.pais }}<br/>
    IP: {{ dominio.ip }}<br/>
    ASN: {{ dominio.asn }}<br/>
    Sevidores DNS: {{ dominio.servidores_dns }}<br/>
    Servidor: {{ dominio.servidor }}<br/>
    RIR: {{ dominio.rir }}<br/>
    <a href='{{ dominio.captura_url }}'><img src='{{ dominio.captura_url }}' style="max-width:500px;max-height:500px;" /></a><br/>

    <h3>Direcciones URL:</h3>
    {% for url in urls %}
      <a href='{% url 'url-detalle' pk=url.pk %}'><h4>{{ url }}</h4></a>
      URL: {{ url.url }}<br/>
      Código: {{ url.codigo_estado }}<br/>
      Timestamp: {{ url.timestamp }}<br/>
      <a href='{{ url.captura_url }}'><img src='{{ url.captura_url }}' style="max-width:500px;max-height:500px;" /></a><br/>
    {% endfor %}

    <form action="" method="post">
      {% csrf_token %}
      {% include 'form.html' with form=mensaje_form %}
      <input type="submit" class="btn btn-info" name="boton-mensaje" class="uk-button uk-button-default" value="Enviar" />
    </form>
    
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" name="boton-saltar" class="btn btn-secondary" value="Saltar" />
    </form>

    {% if user.is_superuser %}
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" name="boton-ignorar" class="btn btn-danger" value="Ignorar" />
    </form>
    {% endif %}
  </div>
{% endblock %}
