<pre>


RESUMEN

URLs analizadas:  {{ urls_total }}
URLs activas:  {{ num_urls_activas }} 
URLs inactivas:  {{ num_urls_inactivas }} 
URLs redirecciones:  {{ num_urls_redirecciones }} 
Dominios afectados:  {{ dominios|length }} 

Entidades:
{% for k,v in entidades.items %}
    {{ k }}: {{ v }}
{% endfor %}
Títulos:
{% for k,v in titulos.items %}
    {{ k }}: {{ v }} 
{% endfor %}
Dominios:
{% for k,v in dominios.items %}
    {{ k }}: {{ v }} 
{% endfor %}
Países:
{% for k,v in paises.items %}
    {{ k }}: {{ v }} 
{% endfor %}

SITIOS ACTIVOS
{% for url in activas %}
<a href='{{ url.captura_url }}'><img src='{{ url.captura_url }}' style="max-width:300px;max-height:300px;" /><br/></a>
Identificador: <a href='{% url "url-detalle" pk=url.pk %}'>{{ url.identificador }}</a>
Timestamp: {{ url.timestamp }}
IP: {{ url.dominio.ip }}
Código: {{ url.codigo_estado }}
URL: {{ url.url }}
Detección: {{ url.es_phishing }}
Reportado: {{ url.reportado }}
Título: {{ url.titulo }}
Entidades: {{ url.entidades }}
Archivo: <a href='{{ url.archivo_url }}'>Descarga</a>
Ofuscación: {{ url.ofuscaciones }}
Correos: {{ url.dominio.correos_abuso }}
ISP: {{ url.dominio.isp }}
País: {{ url.dominio.pais }}
ASN: {{ url.dominio.asn }}
Servidor: {{ url.dominio.servidor }}
RIR: {{ url.dominio.rir }}
Servidores DNS: {{ url.dominio.servidores_dns }}
{% if url.ticket %}Ticket: {{ url.ticket }}{% endif %}
{% endfor %}

SITIOS INACTIVOS
{% for url in inactivas %}
Identificador: <a href='{% url "url-detalle" pk=url.pk %}'>{{ url.identificador }}</a>
Timestamp: {{ url.timestamp }}
IP: {{ url.dominio.ip }}
Codigo: {{ url.codigo_estado }}
URL: {{ url.url }}
Reportado: {{ url.reportado }}
Correos: {{ url.dominio.correos_abuso }}
ISP: {{ url.dominio.isp }}
País: {{ url.dominio.pais }}
ASN: {{ url.dominio.asn }}
Servidor: {{ url.dominio.servidor }}
RIR: {{ url.dominio.rir }}
Servidores DNS: {{ url.dominio.servidores_dns }}
{% endfor %}

REDIRECCIONES
{% for url in redirecciones %}
Identificador: <a href='{% url "url-detalle" pk=url.pk %}'>{{ url.identificador }}</a>
Timestamp: {{ url.timestamp }}
IP: {{ url.dominio.ip }}
Código: {{ url.codigo_estado }}
URL: {{ url.url }}
Detección: {{ url.es_phishing }}
Redirección: {{ url.redireccion }}
Reportado: {{ url.reportado }}
Correos: {{ url.dominio.correos_abuso }}
ISP: {{ url.dominio.isp }}
País: {{ url.dominio.pais }}
ASN: {{ url.dominio.asn }}
Servidor: {{ url.dominio.servidor }}
RIR: {{ url.dominio.rir }}
Servidores DNS: {{ url.dominio.servidores_dns }}
{% endfor %}
</pre>
