<article class="uk-comment uk-visible-toggle">
  <header class="uk-comment-header uk-position-relative">
    <div class="uk-grid-medium uk-flex-middle" uk-grid>
      {% if not sitio.obten_info_redireccion %}
        <div class="uk-width-auto">
          <div uk-lightbox>
            <a href='{{ sitio.captura_url }}'>
              <img src='{{ sitio.captura_url }}' class="uk-comment-avatar" style="object-fit: cover;width: 80px;height: 80px;"/>
            </a>
          </div>
        </div>
      {% endif %}
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove">
          <a class="uk-link-reset" href='{% url "url-detalle" pk=sitio.pk %}'>{{ sitio.url }}</a>
        </h4>
        <p class="uk-comment-meta uk-margin-remove-top">
          Código: {{ sitio.codigo_str }}
          <br/>Estado: {{ sitio.estado }}
          <br/>Fecha de creación: {{ sitio.timestamp_creacion }}
          {% if sitio.timestamp_desactivado %}
            <br/>Fecha de desactivación: {{ sitio.timestamp_desactivado }}
          {% endif %}
          {% if sitio.obten_info_activa %}
            {% with sitio.obten_info_activa as info %}
              <br/>Entidad afectada: {{ info.entidad_afectada_str }}
              <br/>Fecha de detección: {{ info.timestamp_deteccion }}
              <br/>Detección: {{ info.get_deteccion_display }}
              <br/>Título: {{ info.titulo_str }}
              <br/>Ofuscación: {{ info.ofuscaciones_str }}
              <br/>Archivo: <a href='{{ info.archivo_url }}'>Descarga</a>
              <br/>Hash MD5 de archivo: {{ info.hash_archivo_str }}
            {% endwith %}
          {% elif sitio.obten_info_redireccion %}
            {% with sitio.obten_info_redireccion as info %}
              {% if info.redireccion %}
                <br/>Redirección: <a href="{% url 'url-detalle' pk=info.redireccion.pk %}">{{ info.redireccion.url }}</a>
              {% endif %}
              {% if info.redireccion_final %}
                <br/>Redirección final: <a href="{% url 'url-detalle' pk=info.redireccion_final.pk %}">{{ info.redireccion_final.url }}</a>
              {% endif %}
            {% endwith %}
          {% endif %}
          <br/>Ignorado: {{ sitio.ignorado_str }}
          <br/>Reportado: {{ sitio.reportado_str }}
          {% if historial and sitio.ticket %}
            <br/>Fecha de reporte: {{ sitio.ticket.timestamp }}
            <br/>Ticket: <a href='{% url 'ticket' pk=sitio.ticket.pk %}'>{{ sitio.ticket }}</a>
          {% endif %}
        </p>
      </div>
    </div>            
  </header>          
</article> 
