<article class="uk-comment uk-visible-toggle">            
  <header class="uk-comment-header uk-position-relative">
    <div class="uk-grid-medium uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <div uk-lightbox>
          {% if activo and url.sitio_activo %}
            <input type="checkbox" class="uk-checkbox" name="urls" value="{{ url.id }}" checked />&nbsp;&nbsp;
          {% endif %}
          <a href='{{ url.captura_url }}'><img src='{{ url.captura_url }}' class="uk-comment-avatar" style="object-fit: cover;width: 80px;height: 80px;" /></a>
        </div>
      </div>      
      <div class="uk-width-expand">
        <h4 class="uk-comment-title uk-margin-remove">
          <a class="uk-link-reset" href='{% url 'url-detalle' pk=url.pk %}'>{{ url }}</a>
        </h4>
        <p class="uk-comment-meta uk-margin-remove-top">
          Código: {{ url.codigo_str }}<br/>
          Estado: {{ url.estado }} <br/>
          Detección: {{ url.deteccion }}<br/>
          Entidad afectada: {{ url.sitio_info.entidad_afectada_str }}<br/>
          Ofuscación: {{ url.sitio_info.ofuscaciones_str }}<br/>
          {% if url.es_redireccion %}
            Redirección:
            <a href={% url 'url-detalle' pk=url.redireccion.pk %}>
              {{ url.redireccion }}<br/>
            </a>
            Redirección final:
            <a href={% url 'url-detalle' pk=url.redireccion_final.pk %}>
              {{ url.redireccion_final }}<br/>
            </a>
          {% endif %}
          Fecha de actualización: {{ url.timestamp_actualizacion }}<br/>          
          {% if iframe %}
            <div class="uk-inline">
              <button class="uk-button uk-button-default" type="button">Iframe</button>
              <div uk-dropdown="mode: click">
                {% if url.sitio_info and url.sitio_info.archivo_es_texto %}
                  <iframe width="800" height="600" src="{{ url.sitio_info.sitio.url }}">
                    <p>Este navegador no soporta el iso de iframes</p>
                  </iframe>
                {% endif %}
              </div>
            </div>  
          {% endif %}            
        </p>
      </div>
      {% if monitoreo %}
        <div class="uk-width-auto">
          <div uk-lightbox>
            <a href='{{ url.captura_anterior_url }}'><img src='{{ url.captura_anterior_url }}' class="uk-comment-avatar" style="object-fit: cover;width: 80px;height: 80px;" /></a>
          </div>
        </div>
        <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove">
            Estado anterior
          </h4>
          <p class="uk-comment-meta uk-margin-remove-top">
            Código: {{ url.codigo_anterior_str }}<br/>
          </p>
        </div>
      {% endif %}    
    </div>
  </header>
</article>
