{% extends "base.html" %}

{% block title %}Phish-Mon Monitoreo{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary">Detalle de URL</h1>


  <ul uk-tab>
    <li class="uk-active"><a href="#">Datos</a></li>
    <li><a href="#">Comentarios</a></li>
    <li><a href="#">Hashes</a></li>
  </ul>

  

  <ul class="uk-switcher uk-margin">
    <li>
      {% include 'url_reporte.html' %}
      <h4>Captura de dominio</h4>
      <div uk-lightbox>
        <a href='{{ url.dominio.captura_url }}'>
          <img src='{{ url.dominio.captura_url }}' class="uk-comment-avatar" style="object-fit: cover;width: 80px;height: 80px;"/>
        </a>
      </div>
    </li>
    <li>
      {% for x in comentarios %}
        {{ x }}
      {% endfor %}
    </li>
    <li>
      {% for x in hashes %}
        {{ x }}
      {% endfor %}
    </li>
  </ul>  
{% endblock %}
