{% extends "base.html" %}

{% block title %}Ajustes{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary"><span>Ajustes</span></h1>
<p uk-margin>
  <a href='{% url 'ofuscaciones' %}' class="uk-button uk-button-danger">
    Modificar métodos de ofuscación
  </a>
  <a href='{% url 'entidades' %}' class="uk-button uk-button-danger">
    Modificar entidades
  </a>
</p>

<h4>Proxies</h4>
<a href='{% url 'crea-proxy' %}' class="uk-button uk-button-secondary uk-button-small">Nuevo Proxy</a><br/>

<ul class="uk-list">
  {% for proxy in proxies %}
      <li><span class="uk-text-bold">HTTP:</span> {{ proxy.http }}, <span class="uk-text-bold">HTTPS:</span> {{ proxy.https }} &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="uk-button uk-button-default uk-button-small" href='{% url "actualiza-proxy" pk=proxy.pk %}'><span uk-icon="pencil"></span></a>
      <a class="uk-button uk-button-danger uk-button-small" href='{% url "elimina-proxy" pk=proxy.pk %}'><span uk-icon="close"></span></a></li>
    {% endfor %}
</ul>

<h4>Recursos</h4>
<a href='{% url 'crea-recurso' %}' class="uk-button uk-button-secondary uk-button-small">Nuevo Recurso</a><br/>

<ul class="uk-list">
  {% for recurso in recursos %}
    <li>
      {% if recurso.es_phishtank %}
        <span class="uk-text-bold">Llave de API de phishtank: {{ recurso.recurso }}</span></br>
      {% else %}
        <span class="uk-text-bold">URL: {{ recurso.recurso }}</span></br>
      {% endif %}
      Número máximo de URLs por consulta:
      {% if recurso.max_urls >= 0 %}
        {{ recurso.max_urls }}
      {% else %}
        Sin límite
      {% endif %}
      </br>
      <a class="uk-button uk-button-default uk-button-small" href='{% url "actualiza-recurso" pk=recurso.pk %}'><span uk-icon="pencil"></span></a>
      <a class="uk-button uk-button-danger uk-button-small" href='{% url "elimina-recurso" pk=recurso.pk %}'><span uk-icon="close"></span></a>
    </li>
  {% endfor %}
</ul>

<form action="" class="uk-margin-medium" method="post">
  {% csrf_token %}
  {% include 'form.html' with form=asunto_form %}
  <input type="submit" name="cambia-asunto" class="uk-button uk-button-primary uk-button-small" value="Modificar" />
</form>

<form action="" class="uk-margin-medium" method="post">
  {% csrf_token %}
  {% include 'form.html' with form=mensaje_form %}
  <input type="submit" name="cambia-mensaje" class="uk-button uk-button-primary uk-button-small" value="Modificar" />
</form>

<form action="" class="uk-margin-medium" method="post">
  {% csrf_token %}
  {% include 'form.html' with form=asunto_unam_form %}
  <input type="submit" name="cambia-unam-asunto" class="uk-button uk-button-primary uk-button-small" value="Modificar" />
</form>

<form action="" class="uk-margin-medium" method="post">
  {% csrf_token %}
  {% include 'form.html' with form=mensaje_unam_form %}
  <input type="submit" name="cambia-unam-mensaje" class="uk-button uk-button-primary uk-button-small" value="Modificar" />
</form>

Cambia frecuencia de verificación de direcciones URL (horas)
<form action="" class="uk-margin-medium" method="post">
  {% csrf_token %}
  {% include 'form.html' with form=verificacion_form %}
  <input type="submit" name="cambia-verificacion" class="uk-button uk-button-primary uk-button-small" value="Modificar" />
</form>

{% endblock %}
