{% extends "base.html" %}

{% block title %}ASN{% endblock %}

{% block contenido %}

  <h1 class="uk-heading-primary"><span>Lista de ASNs</span></h1>
  
  <a class="uk-button uk-button-primary" href='{% url 'crea-asn' %}'>Nuevo ASN</a>
  
  <dl class="uk-description-list uk-description-list-divider">
  {% for o in asn %}
      <dt><span class="uk-text-bold"><asn><a class="uk-link-reset" href='{% url "asn" pk=o.pk %}'>{{ o }}</a></span></dt>
      <dd><span class="uk-text-bold">Formularios de abuso:</span>
        {% if o.formularios_lst %}
          <ul style="margin:5px;">
            {% for f in o.formularios_lst %}
              <li><a href='{{ f }}'>{{ f }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          No asignados
        {% endif %}
      </dd>
      <dd>
        <a class="uk-button uk-button-default uk-button-small" href='{% url "actualiza-asn" pk=o.pk %}'><span uk-icon="pencil"></span></a>
        {% if o.dominios.count == 0 %}
          <a class="uk-button uk-button-danger uk-button-small" href='{% url "elimina-asn" pk=o.pk %}'><span uk-icon="close"></span></a>
        {% endif %}
      </dd>
    {% endfor %}
  </dl>
{% endblock %}
