{% extends "base.html" %}

{% block title %}Entidades{% endblock %}

{% block contenido %}

  <h1 class="uk-heading-primary"><span>Entidades</span></h1>
  
  <a class="uk-button uk-button-primary" href='{% url 'crea-entidad' %}'>Nueva Entidad</a>
  
  <dl class="uk-description-list uk-description-list-divider">
  {% for o in entidades %}
      <dt><span class="uk-text-bold">Nombre: {{ o.nombre }}</span></dt>
      <dd><span class="uk-text-bold">Clasificación:</span> {{ o.clasificacion_str }}</dd>
      <dd>
        <a class="uk-button uk-button-default uk-button-small" href='{% url "actualiza-entidad" pk=o.pk %}'><span uk-icon="pencil"></span></a>
        <a class="uk-button uk-button-danger uk-button-small" href='{% url "elimina-entidad" pk=o.pk %}'><span uk-icon="close"></span></a>
      </dd>
    {% endfor %}
  </dl>

  <h1 class="uk-heading-primary"><span>Clasificaciones</span></h1>
  <a class="uk-button uk-button-primary" href='{% url 'crea-clasificacion' %}'>Nueva Clasificación</a>
  <dl class="uk-description-list">
    {% for o in clasificaciones %}
      <dt><span class="uk-text-bold">Nombre: {{ o.nombre }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <a class="uk-button uk-button-default uk-button-small" href='{% url "actualiza-clasificacion" pk=o.pk %}'><span uk-icon="pencil"></span></a>
      <a class="uk-button uk-button-danger uk-button-small" href='{% url "elimina-clasificacion" pk=o.pk %}'><span uk-icon="close"></span></a></dt>
    {% endfor %}
  </dl>
{% endblock %}
