{% extends "base.html" %}

{% block title %}Métodos de Ofuscación{% endblock %}

{% block contenido %}
  <h1 class="uk-heading-primary uk-text-center">Métodos de Ofuscación</h1>

  <a href='{% url 'crea-ofuscacion' %}' class="uk-button uk-button-primary">Nuevo Método de Ofuscación</a>

  <ul class="uk-list">
    {% for o in ofuscaciones %}
      <li>
        <span class="uk-text-bold">Nombre:</span> {{ o.nombre }}, <span class="uk-text-bold">Exp. regular:</span> "{{ o.regex }}" &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="uk-button uk-button-default uk-button-small" href='{% url "actualiza-ofuscacion" pk=o.pk %}'><span uk-icon="pencil"></span></a>
        <a class="uk-button uk-button-danger uk-button-small" href='{% url "elimina-ofuscacion" pk=o.pk %}'><span uk-icon="close"></span></a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
