{% extends "base.html" %}

{% block title %}Monitoreo{% endblock %}

{% block contenido %}
    
    <h1 class="uk-heading-divider">Monitoreo</h1>
    <form class="uk-form-horizontal uk-margin-large" method="post" action=""> 
      {% csrf_token %}
      {% include 'form.html' with form=proxy_form %}
      <input type="submit" name="boton-curl" class="uk-button uk-button-primary" value="Monitorear" />
    </form>
    
    <ul class="uk-comment-list">
      <li>
        {% include 'dominio_info.html' %}
      </li>
    </ul>

    <form action="" method="post">
      {% csrf_token %}
      {% include 'monitoreo/form_monitoreo_mensaje.html' with form=mensaje_form %}
      {% if activo %}
        <input type="submit" name="boton-mensaje" class="uk-button uk-button-primary" value="Reportar" />
        {% if user.is_superuser %}
          <input type="submit" name="boton-ignorar" class="uk-button uk-button-danger" value="Ignorar" />
        {% endif %}
      {% else %}
        <a href="{% url 'monitoreo' %}" class="uk-button uk-button-primary">Regresar a monitoreo</a>
      {% endif %}
    </form>
    
{% endblock %}
