{% extends "base.html" %}

{% block title %}Monitoreo{% endblock %}

{% block contenido %}
  
  <h1 class="uk-heading-primary uk-text-center"><span>Monitoreo</span></h1>

    <ul class="uk-comment-list">
        
      {% for dominio in dominios %}
        <li>
          {% include 'dominio_info.html' with reportar=True %}
          <ul>
            {% for url in dominio.urls_activas %}
              <li>
                {% include 'url_info.html' %}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% empty %}
        <div class="uk-alert-warning" uk-alert>
          <p>No hay ningún dominio por mostrar</p>
        </div>       
      {% endfor %}    
    </ul>  
{% endblock %}
